# Python.
*.py[cod]
*.egg
*.egg-info
dist
build
pip-log.txt
venv

# IDE's
*.sublime*
*swp
*orig
.project
.pydevproject
.settings

# OS artifacts.
.DS_Store
Desktop.ini
Thumbs.db

# Repo specific.
local.config.py
*.memory
